<div class="card">
    <div class="card-heading">
        <div class="card-image">
            <img
            src="https://assets-global.website-files.com/64f9cc99e71db04ed5b890bd/64f9d0c16cddcbca2a417614_BigBroker_icon256.png"
            alt="" width="40" height="40">
        </div>
        <div class="card-heading-texts">
            <h3 class="card-title">Big Broker</h3>
            <p class="card-subtitle">Protection entreprise</p>
            <p class="card-text">Niveau 1</p>
        </div>
        <div class="card-heading-concorde">
            <p>Concorde à <span>99%</span></p>
        </div>
    </div>

    <div class="card-content">
        <p>Hospitalisation</p>
        <div class="card-content-range">
            <input type="range" class="form-range " id="customRange1">
            <p class="text-secod">20%</p>
        </div>
    </div>

    <div class="">
        <p class=""> 23 £/mois </p>
    </div>

    <div class="">
        <button type="button" class="btn">Options</button>
        <button type="button" class="btn">Détails</button>
    </div>
    <div class="">
      <input class="" type="checkbox" value=""
        aria-label="">
      <p class="">Sélectionner</p>
    </div>
</div>