<div class="card">
  <div class="card-heading">
    <div class="card-image">
      <img
        src="https://assets-global.website-files.com/64f9cc99e71db04ed5b890bd/64f9d0c16cddcbca2a417614_BigBroker_icon256.png"
        alt=""
        width="40"
        height="40"
      />
    </div>
    <div class="card-heading-texts">
      <h3 class="card-title">{{ broker.title }}</h3>
      <p class="card-subtitle">{{ broker.subtitle }}</p>
      <p class="card-text">{{ broker.level }}</p>
    </div>
    <div class="card-heading-concorde">
      <p>Concorde à <span>99%</span></p>
    </div>
  </div>

  @for(cour of broker.cours; track $index) {
  <div class="card-content">
    <p>{{ cour.title }}</p>
    <div class="card-content-range">
      <input type="range" class="form-range" id="customRange1" />
      <p class="text-secod">{{ cour.percentage }}</p>
    </div>
  </div>
  }

  <div class="card-price">
    <p class="">
      <span>{{ isMonthly ? broker.price_month : broker.price_year }} €/</span>
      <span>{{ isMonthly ? "mois" : "année" }}</span>
    </p>
  </div>

  <div class="card-actions">
    <button type="button" class="card-actions-btn">Options</button>
    <button type="button" class="card-actions-btn details">Détails</button>
  </div>
  <div class="card-bottom">
    <input
      [(ngModel)]="isChecked"
      (ngModelChange)="handleAddBroker($event, broker)"
      type="checkbox"
      [id]="broker.id"
    />
    <label [for]="broker.id" class="">Sélectionner</label>
  </div>
</div>
