<section class="nav-container">
  <button (click)="toggleSidenavVisibility()" class="nav-close-btn">X</button>
  <div>
    <div class="nav-heading">
      <button class="nav-btn">
        <span class="nav-btn-icon"></span>
        <span class="nav-btn-text">Réinitialiser</span>
      </button>
      <h2 class="nav-heading-title">Ajuster le budget</h2>
    </div>
    <nav class="nav">
      <h2>Assureurs</h2>
      <ul class="nav-list">
        <li class="nav-list-item">
          <div>
            <input type="checkbox" id="alptis" />
            <label for="alptis">Alptis</label>
          </div>
          <span>XX</span>
        </li>
        <li class="nav-list-item">
          <div>
            <input type="checkbox" id="april" />
            <label for="april">April</label>
          </div>
          <span>XX</span>
        </li>
        <li class="nav-list-item">
          <div>
            <input type="checkbox" id="axa" />
            <label for="axa">Axa</label>
          </div>
          <span>XX</span>
        </li>
        <li class="nav-list-item">
          <div>
            <input type="checkbox" id="cnp" />
            <label for="cnp">CNP Assurances</label>
          </div>
          <span>XX</span>
        </li>
        <li class="nav-list-item">
          <div>
            <input type="checkbox" id="spvie" />
            <label for="spvie">SPVIE Assurances</label>
          </div>
          <span>XX</span>
        </li>
      </ul>
    </nav>
  </div>
</section>
