<section class="dashboard-container">
  @if (isVisible) {
  <app-navigation [(isSidenavHidden)]="isVisible"></app-navigation>
  }
  <div class="dashboard-content">
    <app-filter-bar
      [itemCount]="brokerCount$ | async"
      [(isSidenavHidden)]="isVisible"
    >
    </app-filter-bar>
    <div class="dashboard-card-container">
      @for (broker of brokers$ | async; track $index) {
      <app-card [isMonthly]="isMonthly$ | async" [broker]="broker"></app-card>
      }
    </div>
  </div>
</section>
