<section class="dashboard-container">
    <app-navigation></app-navigation>
    <div class="dashboard-content">
        <div>
            <p>4 offres trouvées</p>
            <div>
                <button>Filtres</button>
                <div>
                    <input type="checkbox" id="monthly">
                    <label for="monthly">Mensuel</label>
                </div>
            </div>
            <app-card></app-card>
        </div>
        <div>
            
        </div>
    </div>
</section>
